In [46]:
import pandas as pd

In [47]:
# Imports by selected importing countries in thousand 60-kg bags
imports_df = pd.read_csv("data/ico/imports.csv")
# Re-exports by selected importing countries in thousand 60-kg bags
exports_df = pd.read_csv("data/ico/exports-calendar-year.csv")

In [48]:
imports_df.head()

,imports,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1880.0,2058.0,2206.0,1836.0,1417.0,1231.0,1210.0,1294.0,1293.0,...,1309.0,1369.0,1452.0,1559.0,1555.0,NaN,NaN,NaN,NaN,NaN
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5916.0,5924.0,5828.0,5668.0,5502.0,NaN,NaN,NaN,NaN,NaN
2,Belgium/Luxembourg,2015.0,1746.0,1828.0,2063.0,2262.0,2401.0,2526.0,2544.0,3580.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bulgaria,268.0,200.0,182.0,397.0,463.0,515.0,272.0,294.0,342.0,...,523.0,528.0,482.0,560.0,609.0,NaN,NaN,NaN,NaN,NaN
4,Croatia,NaN,NaN,168.0,163.0,193.0,320.0,322.0,385.0,339.0,...,394.0,394.0,391.0,384.0,413.0,NaN,NaN,NaN,NaN,NaN

In [49]:
exports_df.head()

,exports,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Angola,84.3500,70.501000,80.250000,38.878000,8.3020,40.559000,51.831000,50.494000,53.929000,...,6.925000,4.370000,7.575000,8.375000,5.520000,9.375000,10.515000,10.945000,9.055000,9.323397
1,Benin,0.0000,0.000000,0.000000,1.805000,0.0500,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Bolivia (Plurinational State of),156.4420,73.523000,96.204000,47.319000,84.3210,93.958000,123.445000,110.955000,97.039000,...,82.608773,78.268006,74.308883,62.675780,54.850533,61.751267,30.280158,22.456342,26.119992,22.459634
3,Brazil,16935.7876,21182.761402,18790.719202,17837.747999,17273.1476,14468.432201,15250.609002,16801.260005,18144.388334,...,30377.981636,33166.641590,33806.009328,28549.425891,31650.562945,37335.172825,37562.846747,34269.150253,30924.567849,35382.556487
4,Burundi,584.7730,687.851000,645.858000,417.609000,507.8030,528.202000,224.076000,528.764000,373.841000,...,288.830000,307.118958,217.845799,392.006917,194.715883,252.178000,230.188550,261.295433,168.876264,201.725236

In [50]:
# Now the dataset metrics are in tonnes
name_imports_column = imports_df["imports"]
imports_df = imports_df.drop("imports", axis=1) * 60
imports_df["imports"] = name_imports_column
name_exports_column = exports_df["exports"]
exports_df = exports_df.drop("exports", axis=1) * 60
exports_df["exports"] = name_exports_column

In [51]:
# Sanitize country name and compute average values
year_columns = [str(year) for year in range(1990, 2019)]
imports_df['average'] = imports_df[year_columns].mean(axis=1)
imports_df['country_name'] = imports_df['imports'].str.strip()
exports_df['average'] = exports_df[year_columns].mean(axis=1)
exports_df['country_name'] = exports_df['exports'].str.strip()

In [52]:
# Replace some country names to follow name conventions
imports_df.loc[imports_df["country_name"] == "USA", "country_name"] = "United States of America"
exports_df.loc[exports_df["country_name"] == "USA", "country_name"] = "United States of America"

imports_df.loc[imports_df["country_name"] == "Bolivia (Plurinational State of)", "country_name"] = "Bolivia"
exports_df.loc[exports_df["country_name"] == "Bolivia (Plurinational State of)", "country_name"] = "Bolivia"

imports_df.loc[imports_df["country_name"] == "Russian Federation", "country_name"] = "Russia"
exports_df.loc[exports_df["country_name"] == "Russian Federation", "country_name"] = "Russia"

imports_df.loc[imports_df["country_name"] == "China, People's Republic of", "country_name"] = "China"
exports_df.loc[exports_df["country_name"] == "China, People's Republic of", "country_name"] = "China"

imports_df.loc[imports_df["country_name"] == "South Africa, Rep.of", "country_name"] = "South Africa"
exports_df.loc[exports_df["country_name"] == "South Africa, Rep.of", "country_name"] = "South Africa"

imports_df.loc[imports_df["country_name"] == "Viet Nam", "country_name"] = "Vietnam"
exports_df.loc[exports_df["country_name"] == "Viet Nam", "country_name"] = "Vietnam"

imports_df.loc[imports_df["country_name"] == "Czech Republic", "country_name"] = "Czechia"
exports_df.loc[exports_df["country_name"] == "Czech Republic", "country_name"] = "Czechia"

imports_df.loc[imports_df["country_name"] == "Iran, Islamic Rep. of", "country_name"] = "Iran"
exports_df.loc[exports_df["country_name"] == "Iran, Islamic Rep. of", "country_name"] = "Iran"

imports_df.loc[imports_df["country_name"] == "Syrian Arab Republic", "country_name"] = "Syria"
exports_df.loc[exports_df["country_name"] == "Syrian Arab Republic", "country_name"] = "Syria"

imports_df.loc[imports_df["country_name"] == "North Macedonia", "country_name"] = "Macedonia"
exports_df.loc[exports_df["country_name"] == "North Macedonia", "country_name"] = "Macedonia"

imports_df.loc[imports_df["country_name"] == "Bosnia and Herzegovina", "country_name"] = "Bosnia and Herz."
exports_df.loc[exports_df["country_name"] == "Bosnia and Herzegovina", "country_name"] = "Bosnia and Herz."

imports_df.loc[imports_df["country_name"] == "Sudan", "country_name"] = "S. Sudan"
exports_df.loc[exports_df["country_name"] == "Sudan", "country_name"] = "S. Sudan"

In [53]:
# Fill nan values with the country average
imports_df = imports_df.apply(lambda row: row.fillna(row["average"]), axis=1)
exports_df = exports_df.apply(lambda row: row.fillna(row["average"]), axis=1)

In [54]:
# Sort in decreasing order by the average metric
imports_df = imports_df.sort_values(by='average', ascending=False)
exports_df = exports_df.sort_values(by='average', ascending=False)

In [43]:
# Compute the deciles for each of the columns
imports_deciles = imports_df\
    .drop(["average", "country_name", "imports"], axis=1, inplace=False)\
    .apply(lambda x: x.quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9]))\
    .reset_index()\
    .rename(columns = {'index':'decile'})

exports_deciles = exports_df\
    .drop(["average", "country_name", "exports"], axis=1, inplace=False)\
    .apply(lambda x: x.quantile([.1, .2, .3, .4, .5, .6, .7, .8, .9]))\
    .reset_index()\
    .rename(columns = {'index':'decile'})

In [44]:
imports_json = imports_df.drop("imports", axis=1).to_json(orient='records')
with open('data/map_data/map_yearly_imports.json', 'w') as file:
    file.write(imports_json)

exports_json = exports_df.drop("exports", axis=1).to_json(orient='records')
with open('data/map_data/map_yearly_exports.json', 'w') as file:
    file.write(exports_json)

In [45]:
imports_deciles_json = imports_deciles.to_json(orient='records')
with open('data/map_data/map_deciles_imports.json', 'w') as file:
    file.write(imports_deciles_json)

exports_deciles_json = exports_deciles.to_json(orient='records')
with open('data/map_data/map_deciles_exports.json', 'w') as file:
    file.write(exports_deciles_json)