In [1]:
import pandas as pd

In [59]:
# Imports by selected importing countries
imports_df = pd.read_csv("data/ico/imports.csv")
# Re-exports by selected importing countries
exports_df = pd.read_csv("data/ico/exports-calendar-year.csv")

In [48]:
imports_df.head()

,imports,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1880.0,2058.0,2206.0,1836.0,1417.0,1231.0,1210.0,1294.0,1293.0,...,1309.0,1369.0,1452.0,1559.0,1555.0,NaN,NaN,NaN,NaN,NaN
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5916.0,5924.0,5828.0,5668.0,5502.0,NaN,NaN,NaN,NaN,NaN
2,Belgium/Luxembourg,2015.0,1746.0,1828.0,2063.0,2262.0,2401.0,2526.0,2544.0,3580.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bulgaria,268.0,200.0,182.0,397.0,463.0,515.0,272.0,294.0,342.0,...,523.0,528.0,482.0,560.0,609.0,NaN,NaN,NaN,NaN,NaN
4,Croatia,NaN,NaN,168.0,163.0,193.0,320.0,322.0,385.0,339.0,...,394.0,394.0,391.0,384.0,413.0,NaN,NaN,NaN,NaN,NaN

In [49]:
exports_df.head()

,exports,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Angola,84.3500,70.501000,80.250000,38.878000,8.3020,40.559000,51.831000,50.494000,53.929000,...,6.925000,4.370000,7.575000,8.375000,5.520000,9.375000,10.515000,10.945000,9.055000,9.323397
1,Benin,0.0000,0.000000,0.000000,1.805000,0.0500,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Bolivia (Plurinational State of),156.4420,73.523000,96.204000,47.319000,84.3210,93.958000,123.445000,110.955000,97.039000,...,82.608773,78.268006,74.308883,62.675780,54.850533,61.751267,30.280158,22.456342,26.119992,22.459634
3,Brazil,16935.7876,21182.761402,18790.719202,17837.747999,17273.1476,14468.432201,15250.609002,16801.260005,18144.388334,...,30377.981636,33166.641590,33806.009328,28549.425891,31650.562945,37335.172825,37562.846747,34269.150253,30924.567849,35382.556487
4,Burundi,584.7730,687.851000,645.858000,417.609000,507.8030,528.202000,224.076000,528.764000,373.841000,...,288.830000,307.118958,217.845799,392.006917,194.715883,252.178000,230.188550,261.295433,168.876264,201.725236

In [60]:
year_columns = [str(year) for year in range(1990, 2019)]
imports_df['average'] = imports_df[year_columns].mean(axis=1)
imports_df['country_name'] = imports_df['imports'].str.strip()
exports_df['average'] = exports_df[year_columns].mean(axis=1)
exports_df['country_name'] = exports_df['exports'].str.strip()

In [61]:
top_imports_df = imports_df\
                    .sort_values(by='average', ascending=False)\
                    .drop(imports_df[(imports_df['country_name'] == "Asia & Oceania") | (imports_df['country_name'] == "North America") | (imports_df['country_name'] == "Europe")].index)\
                    .head(20)
top_imports_df['top_number'] = range(1, 21)

top_exports_df = exports_df.sort_values(by='average', ascending=False).head(20)
top_exports_df['top_number'] = range(1, 21)

In [62]:
top_imports_df

,imports,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,average,country_name,top_number
34,USA,21007.000000,19840.000000,22939.000000,19329.000000,16171.000000,17107.000000,19445.000000,20343.000000,21030.000000,...,26056.0,27016.0,27565.0,27708.0,28838.0,29487.886464,28918.207055,23365.761845,USA,1
11,Germany,13671.000000,13229.000000,13789.000000,14107.000000,13583.000000,12852.000000,13507.000000,13905.000000,13740.000000,...,21816.0,21174.0,NaN,NaN,NaN,NaN,NaN,16357.666667,Germany,2
29,Japan,5330.000000,5510.000000,5326.000000,5691.000000,6217.000000,5489.000000,5994.000000,5921.000000,6027.000000,...,7025.0,8381.0,7657.0,8063.0,8026.0,7647.000000,7539.981823,6862.275235,Japan,3
15,Italy,5242.000000,4630.000000,4595.000000,5594.000000,5554.000000,5388.000000,5608.000000,5743.000000,5889.000000,...,8691.0,8823.0,NaN,NaN,NaN,NaN,NaN,6696.958333,Italy,4
10,France,6301.000000,6553.000000,6612.000000,6334.000000,6369.000000,6214.000000,6660.000000,6704.000000,6576.000000,...,6841.0,6713.0,NaN,NaN,NaN,NaN,NaN,6512.458333,France,5
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5668.0,5502.0,NaN,NaN,NaN,NaN,NaN,4639.533333,Belgium,6
26,Spain,3053.000000,2970.000000,3414.000000,2813.000000,3028.000000,3146.000000,3515.000000,3777.000000,3718.000000,...,5094.0,5137.0,NaN,NaN,NaN,NaN,NaN,4046.291667,Spain,7
35,Africa,2088.255849,2875.796679,2089.288034,2633.887016,2717.154695,1919.688983,2306.021604,2700.410564,1748.717623,...,4965.0,5810.0,5233.0,5530.0,5867.0,5240.000000,6347.000000,3782.112930,Africa,8
141,Canada,2253.478009,2356.146011,2271.012015,2488.917017,2827.129984,2509.892992,2763.455994,2863.888989,3410.340996,...,4444.0,4520.0,4981.0,4698.0,4873.0,5098.000000,5114.000000,3623.732297,Canada,9
28,United Kingdom,2898.000000,2806.000000,3088.000000,3197.000000,3466.000000,2807.000000,2903.000000,2929.000000,3142.000000,...,4126.0,4206.0,NaN,NaN,NaN,NaN,NaN,3403.916667,United Kingdom,10
31,Russian Federation,NaN,NaN,1382.000000,1795.000000,1726.000000,1728.000000,1128.000000,2185.000000,1732.000000,...,4175.0,4410.0,4747.0,4710.0,5233.0,5468.000000,5287.541562,3318.538576,Russian Federation,11
20,Netherlands,3128.000000,3121.000000,3205.000000,2804.000000,2800.000000,2910.000000,3084.000000,2924.000000,2862.000000,...,2730.0,3407.0,NaN,NaN,NaN,NaN,NaN,2928.125000,Netherlands,12
21,Poland,435.000000,250.000000,1787.000000,1670.000000,1843.000000,1771.000000,1924.000000,2253.000000,2293.000000,...,3543.0,3284.0,NaN,NaN,NaN,NaN,NaN,2365.041667,Poland,13
2,Belgium/Luxembourg,2015.000000,1746.000000,1828.000000,2063.000000,2262.000000,2401.000000,2526.000000,2544.000000,3580.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2329.444444,Belgium/Luxembourg,14
36,Algeria,1058.887000,1782.264000,862.266001,1470.025003,1697.675005,897.735004,1229.068010,1461.022998,475.395007,...,2117.0,2125.0,2154.0,2159.0,2323.0,2190.000000,2206.000000,1768.135518,Algeria,15
32,Switzerland,1171.000000,1130.000000,1101.000000,1060.000000,1099.000000,1017.000000,1112.000000,971.000000,1112.000000,...,2478.0,2667.0,2643.0,2748.0,2816.0,2904.000000,3086.018913,1735.069618,Switzerland,16
84,"Korea, Rep. of",895.734003,864.925008,1003.551003,1079.276000,1184.876996,1102.772003,996.901010,1178.655000,1071.155004,...,2106.0,2141.0,2419.0,2518.0,2780.0,2893.000000,2899.000000,1652.848242,"Korea, Rep. of",17
27,Sweden,1767.000000,1717.000000,1772.000000,1757.000000,1893.000000,1420.000000,1522.000000,1473.000000,1440.000000,...,1680.0,1709.0,NaN,NaN,NaN,NaN,NaN,1620.625000,Sweden,18
0,Austria,1880.000000,2058.000000,2206.000000,1836.000000,1417.000000,1231.000000,1210.000000,1294.000000,1293.000000,...,1559.0,1555.0,NaN,NaN,NaN,NaN,NaN,1551.083333,Austria,19
65,Australia,745.906000,788.978000,850.732000,802.013001,843.792999,808.092988,844.567999,898.567988,928.573979,...,1766.0,1667.0,1681.0,1920.0,1881.0,2078.000000,2071.000000,1234.146860,Australia,20

In [63]:
top_exports_df

,exports,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2012,2013,2014,2015,2016,2017,2018,average,country_name,top_number
3,Brazil,16935.787600,21182.761402,18790.719202,17837.747999,17273.147600,14468.432201,15250.609002,16801.260005,18144.388334,...,28549.425891,31650.562945,37335.172825,37562.846747,34269.150253,30924.567849,35382.556487,25706.195606,Brazil,1
52,Viet Nam,1145.234001,1200.952000,1937.611000,2071.837000,2720.911000,3546.405000,3779.415000,6177.834000,6466.712000,...,22919.663832,19717.764414,26097.144160,20654.510096,27568.141684,22439.364593,27866.141588,13048.102878,Viet Nam,2
7,Colombia,13943.870000,12599.184998,16564.370001,13568.362004,11768.089000,9814.197000,10588.430998,10918.863002,11259.928999,...,7170.203291,9669.907367,10954.408357,12716.384670,12831.390727,12984.595747,12807.972625,10953.061020,Colombia,3
26,Indonesia,6903.226999,6170.796000,4603.696000,5662.094001,4604.629999,3946.585001,6440.280000,5755.078000,5598.031999,...,8205.740826,9254.807331,6174.809713,8378.687596,6545.392045,8197.573974,4538.839055,5878.047357,Indonesia,4
25,India,1979.147999,1727.358999,1816.341000,2101.593000,2496.085000,2467.257001,3103.176000,2640.111001,3486.830003,...,5043.961929,5032.638529,5130.914270,5262.293887,6086.119737,6541.501049,5967.224604,3777.195530,India,5
20,Guatemala,3240.141000,2831.985000,3327.988000,3750.687000,3274.069000,3700.872001,3978.998000,4243.882000,3541.853000,...,3750.112536,3575.011397,3043.438535,2960.862008,2991.120758,3382.666191,3327.489656,3590.512097,Guatemala,6
24,Honduras,1735.093000,1444.363000,1960.071000,1705.317000,1718.185000,1795.963000,2059.760000,1722.482000,2329.274000,...,5507.984939,4185.118924,4251.826667,5029.667006,5305.953308,7340.843952,7143.884471,3194.853765,Honduras,7
33,Mexico,3683.104002,3530.820002,3332.041000,3263.616001,2789.046000,3626.491999,4633.497001,4502.424001,3399.026001,...,3556.455805,3132.049713,2479.526809,2457.996501,2232.913073,2910.649964,2888.140482,3143.855086,Mexico,8
50,Uganda,2352.680000,2095.093000,1961.034000,1829.081000,3368.765000,3079.261000,4654.503000,3501.942000,3286.012000,...,2685.237000,3671.879000,3442.351000,3595.607000,3543.097000,4774.033000,4223.182000,3080.789345,Uganda,9
40,Peru,1105.078000,1041.867000,1061.043000,775.000000,1057.017000,1760.467000,1679.374000,1647.733000,1949.254000,...,4310.351922,3736.075980,2719.889850,2789.839140,3959.583593,3945.823228,4063.938661,2688.290420,Peru,10
10,CÃ´te d'Ivoire,4282.866000,3804.734001,4546.368000,4033.107001,2443.993000,2493.946000,2750.602999,4712.982001,4365.288002,...,1711.765617,1962.070767,1489.151150,1418.375167,1432.043600,854.620583,1522.457567,2640.989406,CÃ´te d'Ivoire,11
17,Ethiopia,1074.101000,841.329000,734.461000,1166.778000,1475.325000,1276.118000,1838.231000,1979.733000,1917.061000,...,3202.592407,2870.075248,3116.690370,2984.974817,3000.724450,3773.406333,3589.048020,2257.551574,Ethiopia,12
9,Costa Rica,2265.644000,2399.640000,2431.340001,2363.920000,2104.968000,2067.011000,2430.134000,2099.239000,2044.558001,...,1373.667164,1343.951587,1208.918498,1128.190321,1006.928354,987.154641,1207.946296,1683.603825,Costa Rica,13
15,El Salvador,2509.873000,2148.210000,2120.092000,2947.071000,2092.955000,1807.498000,2314.147000,2772.126000,1684.247001,...,1043.986010,1102.743425,461.649110,575.864057,495.993015,527.101081,571.424066,1542.671788,El Salvador,14
35,Nicaragua,671.184000,392.053000,635.946000,476.466000,623.514000,681.178999,822.356000,714.003000,940.583999,...,1987.302147,1660.549988,1900.637384,1753.158784,1963.467307,2448.637930,2300.035032,1270.768988,Nicaragua,15
14,Ecuador,1783.716000,1416.383999,1273.435001,1598.666001,2145.251000,1539.973999,1539.411000,1044.980999,1056.416000,...,1579.590942,1262.125910,1129.165184,869.048494,922.626339,695.146297,482.699333,1115.800914,Ecuador,16
38,Papua New Guinea,1050.719000,788.353000,917.174000,1054.634000,1156.837000,1002.052000,1090.076000,1043.437000,1348.968000,...,924.930099,810.932640,806.833940,711.482100,1133.180307,794.100395,869.945983,1015.455512,Papua New Guinea,17
28,Kenya,1969.338000,1557.532000,1384.291000,1438.799000,1358.411000,1450.046000,1901.584000,1159.095000,841.489000,...,802.886282,814.542248,798.726789,712.056129,727.043152,709.638235,753.030915,989.200405,Kenya,18
5,Cameroon,2611.259000,1752.179000,1645.851000,704.530000,545.889000,407.269000,563.549000,1368.030000,745.718000,...,621.812800,271.949217,375.033867,390.142717,281.128967,245.017117,287.415250,795.942577,Cameroon,19
45,Tanzania,1019.052000,871.329999,827.786000,1037.295999,632.137999,744.652999,969.637000,655.166999,742.305000,...,756.221317,934.794780,717.956937,708.912463,904.797654,664.079320,856.004136,786.307663,Tanzania,20

In [66]:
imports_json = top_imports_df[["country_name", "top_number", "average"]].to_json(orient='records')
with open('data/map_imports.json', 'w') as file:
    file.write(imports_json)

exports_json = top_exports_df[["country_name", "top_number", "average"]].to_json(orient='records')
with open('data/map_exports.json', 'w') as file:
    file.write(exports_json)