# Milestone 1

In [16]:
import pandas as pd

In [17]:
# First dataset : Coffee prices historical

In [18]:
coffee_prices_df = pd.read_csv("data/prices_historical/coffee-prices-historical-chart-data.csv")

In [21]:
coffee_prices_df.head()

         date   value
0  1973-08-20  0.6735
1  1973-08-21  0.6710
2  1973-08-22  0.6580
3  1973-08-23  0.6675
4  1973-08-24  0.6660

In [19]:
coffee_prices_df.describe()

              value
count  12147.000000
mean       1.267276
std        0.478930
min        0.425000
25%        0.948500
50%        1.237000
75%        1.470000
max        3.356300

In [22]:
# Second dataset : Coffee consumption by country
coffee_consumption_df = pd.read_csv("data/coffee_consumption/CoffeeConsumption.csv")

In [23]:
coffee_consumption_df.head()

         country  totCons2019  perCapitaCons2016
0  United States      27310.0               9.26
1        Germany       8670.0              12.13
2          Japan       7551.0                NaN
3         France       6192.0              11.90
4          Italy       5469.0              13.00

In [24]:
coffee_consumption_df.describe()

        totCons2019  perCapitaCons2016
count     34.000000          25.000000
mean    2560.735294          14.308800
std     4914.567907           4.313037
min       23.000000           9.260000
25%      372.750000          11.240000
50%     1002.000000          13.000000
75%     2383.250000          17.420000
max    27310.000000          26.450000

In [7]:
# Fourth dataset : ICO Coffee Dataset (Worldwide)

# Disappearance (consumption) in selected importing countries
disappearance_df = pd.read_csv("data/ico/disappearance.csv")
# Domestic consumption by all exporting countries
domestic_consumption_df = pd.read_csv("data/ico/domestic-consumption.csv")
# Exports of all forms of coffee by all exporting countries
exports_calendar_year_df = pd.read_csv("data/ico/exports-calendar-year.csv")
# Total exports by all exporting countries
exports_crop_year_df = pd.read_csv("data/ico/exports-crop-year.csv")
# Gross opening stocks in all exporting countries
gross_opening_stocks_df = pd.read_csv("data/ico/gross-opening-stocks.csv")
# Imports by selected importing countries
imports_df = pd.read_csv("data/ico/imports.csv")
# ICO Composite and group indicator prices
indicator_prices_df = pd.read_csv("data/ico/indicator-prices.csv")
# Inventories of green coffee in selected importing countries
inventories_df = pd.read_csv("data/ico/inventories.csv")
# Prices paid to growers in exporting countries
prices_growers_df = pd.read_csv("data/ico/prices-paid-to-growers.csv")
# Re-exports by selected importing countries
exports_df = pd.read_csv("data/ico/re-exports.csv")
# Retail prices of roasted coffee in selected importing countries
retail_prices_df = pd.read_csv("data/ico/retail-prices.csv")
# Total production by all exporting countries
total_production_df = pd.read_csv("data/ico/total-production.csv")

In [25]:
disappearance_df.head()

,disappearance,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Austria,1340.123985,1302.085970,1212.333964,1335.000982,1086.218996,1011.769996,1075.788000,1087.079597,1104.738197,...,885.715848,902.854329,1117.345643,1269.019458,1249.0,NaN,NaN,NaN,NaN,NaN
1,Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,934.292881,870.665179,934.468749,914.636559,1245.0,NaN,NaN,NaN,NaN,NaN
2,Belgium/Luxembourg,1124.109984,708.156980,696.372979,789.436984,958.214990,1073.014984,1038.637071,886.263764,1309.406477,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bulgaria,101.782998,16.761001,174.878012,326.955006,352.764006,393.408007,246.474995,274.918003,324.160004,...,409.275903,395.357991,359.519751,375.941251,419.0,NaN,NaN,NaN,NaN,NaN
4,Croatia,NaN,NaN,134.545004,131.890000,163.862001,288.481005,304.468998,361.396003,319.730000,...,365.637529,369.838593,367.153143,360.364120,387.0,NaN,NaN,NaN,NaN,NaN